
<form action="{% url 'update' parameter.id %}" method="post">
    {%csrf_token%}

    <label>Contact Name   :</label><br><input type="text" name="contact_name" value="{{parameter.contact_name}}"></input>
    <label>Contact Number :</label><br><input type="text" name="contact_number" value="{{parameter.contact_number}}"></input>
    <label>Contact Email  :</label><br><input type="text" name="contact_email" value="{{parameter.contact_email}}"></input>
   
<input type="submit" value="Update Contact">
</form>